.category-product-wrap{
    transition: all 0.2s ease;
}

.category-product{
    height: 100%;
    padding-right: 25px;
}

.close-category-btn{
    display: none;
}

.btn-filter{
    display: none;
    position: fixed;
    z-index: 9;
    float: right;
    background-color: var(--primary-color);
    border-radius: 2px;
    top: 120px;
    right: 2px;
    cursor: pointer;
}

.btn-filter i{
    padding: 16px 8px;
    color: var(--white-color);
}

.category-list{
    margin: 20px 0;
}

.category-list li{
    border-bottom: 0.5px solid #acacac58;
    cursor: pointer;
    padding: 6px;
    margin-bottom: 4px;
    transition: all 0.2s ease;
    /* box-shadow: 0 0.8px 4px rgb(0 0 0 / 16%); */
}

.category-list li.active{
    border-left: 4px solid var(--primary-color);
}


.category-list li:hover{
    transform: translateY(-2px);
}
.category-list li:hover:not(.active) a{
    opacity: 0.6;
    color: var(--primary-color);
}

.category-list li a{
    color: #555;
    font-size: 16px;
}

.category-list li.active a{
    color: var(--primary-color);
}

.product-list h5{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding: 6px;
    
}

.pagination-list{
    margin: 20px auto;
    border-radius: 4px;
    border: 1px solid #7e7e7e8e;
}

.pagination-list li{
    padding: 6px 14px;
    cursor: pointer;
    color: #555;
    border-right: 1px solid #7e7e7e8e;
}

.pagination-list li.active{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-right: 1px solid var(--primary-color);
}

.pagination-list li:hover:not(.active){
    color: var(--white-color);
    background-color: var(--primary-color);
    border-right: 1px solid var(--primary-color);
    opacity: 0.7;
}
